<!DOCTYPE html>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/exponential.js"></script>
<script type="text/javascript" src="js/decimal.min.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-58136427-1', 'auto');
	ga('send', 'pageview');
</script>
<body ng-app="incremental">
 <div ng-controller="IncCtrl">
  <h1>True exponential</h1>
  <a href="#game">Game</a> |
  <a href="#options">Options</a>
  <div id="game">
	  <h2>Cash multiplier: {{(player.multiplier).toFixed(4)}}</h2>
	  <hr>
		  <button ng-click="click()">Generate cash ${{player.cashPerClick}}</button>
		  <p>Cash: $<span ng-bind-html="currencyValue()"/></p>    
		  <h3>Multiplier upgrades</h3>
		  <button ng-click="buyMultiplierUpgrade(0)" ng-disabled="player.currency.comparedTo(player.multiplierUpgradePrice[0]) < 0">+{{multiplierUpgradePower[0]}} (cost ${{player.multiplierUpgradePrice[0]}})</button>
		  <button ng-click="buyMultiplierUpgrade(1)" ng-disabled="player.currency.comparedTo(player.multiplierUpgradePrice[1]) < 0">+{{multiplierUpgradePower[1]}} (cost ${{player.multiplierUpgradePrice[1]}})</button>
		  <button ng-click="buyMultiplierUpgrade(2)" ng-disabled="player.currency.comparedTo(player.multiplierUpgradePrice[2]) < 0">+{{multiplierUpgradePower[2]}} (cost ${{player.multiplierUpgradePrice[2]}})</button>
		  <button ng-click="buyMultiplierUpgrade(3)" ng-disabled="player.currency.comparedTo(player.multiplierUpgradePrice[3]) < 0">+{{multiplierUpgradePower[3]}} (cost ${{player.multiplierUpgradePrice[3]}})</button>
		  <button ng-click="buyMultiplierUpgrade(4)" ng-disabled="player.currency.comparedTo(player.multiplierUpgradePrice[4]) < 0">+{{multiplierUpgradePower[4]}} (cost ${{player.multiplierUpgradePrice[4]}})</button>
		  <h3>Click power upgrades</h3>
		  <button ng-click="buyClickUpgrade(0)" ng-disabled="player.multiplier < player.clickUpgradePrice[0]">{{player.multiplier}}   {{player.clickUpgradePrice[0]}}+{{clickUpgradePower[0]}} (cost {{player.clickUpgradePrice[0]}} multiplier)</button>
		  <button ng-click="buyClickUpgrade(1)" ng-disabled="player.multiplier < player.clickUpgradePrice[1]">+{{clickUpgradePower[1]}} (cost {{player.clickUpgradePrice[1]}} multiplier)</button>
		  <button ng-click="buyClickUpgrade(2)" ng-disabled="player.multiplier < player.clickUpgradePrice[2]">+{{clickUpgradePower[2]}} (cost {{player.clickUpgradePrice[2]}} multiplier)</button>
		  <button ng-click="buyClickUpgrade(3)" ng-disabled="player.multiplier < player.clickUpgradePrice[3]">+{{clickUpgradePower[3]}} (cost {{player.clickUpgradePrice[3]}} multiplier)</button>
	  <hr>
   </div>  
	<div id="options">
	  <h2>Options</h2>
		<table id="optionTable">
			<tr><td>
				<button id="reset" ng-click="reset()">Reset Save</button>
			</td></tr>
			<tr><td>
				<button id="save" ng-click="save()">Save</button>
				<td>Last save time: {{lastSave}}</td>
			</td></tr>
			<tr><td>
				<button id="exportSave" ng-click="exportSave()">Export Save</button>
				<td id="exportSaveContents" style="display: none">
				Copy this text:
				<input id="exportSaveText" type="text" readonly>
				</td>
			</td></tr>
			<tr><td>
				<button id="importSave" ng-click="importSave()">Import Save</button>
			</td></tr>
		</table>
	</div>
   <p><small>By angarg12 GPLv2 | Version {{version}} | <a href="changelog.txt" target="_newtab">Changelog</a> | <a href="https://github.com/angarg12/TrueExponential" target="_newtab">Github</a></small></p>
 </div>
</body>