.title {
	width: 50%;
	text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-size: 250%;
}

.author {
	width: 50%;
	text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.abstract {
	width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: "MathJax_Main";
	text-align: justify;
    line-height: 150%;
	margin-top: 1em;
}

.section {
    font-size: 2.2em;
    align:left;
	font-family: MathJax_Main;
}

.main_text {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.line {
	font-family: MathJax_Main;
	font-size: 1.6em;
	text-indent: 2em;
}

.acknowledgements {
	font-family: MathJax_Main;
}

.bibliography {
	font-family: MathJax_Main;
	margin-left: 2em;
}

.clickable {
	color: #e74c3c;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    text-decoration: underline;
    cursor: pointer;
}

.unclickable {
	color: #7f8c8d;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    text-decoration: underline;
}


.table {
	font-family: MathJax_Main;
	font-size: 1.4em;
	border-collapse:collapse; 
	text-align: center;
}

.table tbody{
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 1px; 
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 1px; 
}

.footer {
    font-family: MathJax_Main;
    font-size: smaller;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.MathJax_Display {
	text-align: left !important;
	display: inline !important;
}

.progress, .progress-striped{
	overflow:hidden;
	height:20px;
	width:80%;
	text-align:center;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:0px;
	background-color:#f5f5f5;
	border-radius:4px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
}

.progress-bar, .progress-bar-success, .progress-bar-log, .progress-bar-warning, .progress-bar-danger{
	float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#2980b9;
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	transition:width .6s ease;
	overflow-x: visible;
	white-space: nowrap;
	text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

.progress-striped .progress-bar, .progress-striped .progress-bar-success, .progress-striped .progress-bar-log, .progress-striped .progress-bar-warning, .progress-striped .progress-bar-danger{
	background-image:linear-gradient(45deg,rgba(255,255,255,.15)25%,transparent 25%,transparent 50%,rgba(255,255,255,.15)50%,rgba(255,255,255,.15)75%,transparent 75%,transparent);
	background-size:40px 40px
}

.progress-bar-success{
	background-color:#2ecc71
}

.progress-bar-log{
	background-color:#3498db
}