.progress, .progress-striped{
	overflow:hidden;
	height:20px;
	margin-bottom:20px;
	background-color:#f5f5f5;
	border-radius:4px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
}

.progress-bar, .progress-bar-success, .progress-bar-info, .progress-bar-warning, .progress-bar-danger{
	float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#428bca;
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	transition:width .6s ease;
	overflow-x: visible;
	white-space: nowrap;
	text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

.progress-striped .progress-bar, .progress-striped .progress-bar-success, .progress-striped .progress-bar-info, .progress-striped .progress-bar-warning, .progress-striped .progress-bar-danger{
	background-image:linear-gradient(45deg,rgba(255,255,255,.15)25%,transparent 25%,transparent 50%,rgba(255,255,255,.15)50%,rgba(255,255,255,.15)75%,transparent 75%,transparent);
	background-size:40px 40px
}

.progress-bar-success{
	background-color:#5cb85c
}

.progress-bar-info{
	background-color:#5bc0de
}

.progress-bar-warning{
	background-color:#f0ad4e
}

.progress-bar-danger{
	background-color:#d9534f
}